name: Generate and Publish Documentation

on:
  push:
    branches: [ main ]
  
jobs:
  documentation:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '#skip_ci')"

    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false 
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v2.0.0
      with:
        dotnet-version: 6.0.4
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Generate Documentation
      run: dotnet run dotnet run --source https://github.com/JeremyLikness/SqliteWasmHelper/blob/main/SqliteWasmHelper/ --clean SqliteWasmHelper ../SqliteWasmHelper/docs
      working-directory: ./XmlDocGen
    - name: Commit files
      run: |
        git config --local user.email "jeremy@jeremylikness.com"
        git config --local user.name "Documentation Generator"
        git commit -m "Documentation only #skip_ci" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.DOCUMENTATION_PUSH }}
        force: true
